<div class="main shell dashboard">
  <div class="grid ">
    <div class="col-7-12">

      <!-- <div class="widget">
          <header><h4></h4></header>
          <div class="widget_content">
                          </div>
      </div> -->

    </div>
    <div class="col-4-12">

      <div class="widget">
        <header><h4>Active Projects</h4></header>
        <div class="widget_content">
          <div class="activeProjectList">
            <ul class="project-list">
                <% @cpm_project.each do |cpm_project| %>
                  <li class="project first">
                      <td><%= link_to cpm_project.name, cpm_project_get_cpm_projects_show_path(cpm_project) %></td>
                    <div class="project_icon">
                      <img src="../uploads/project_icon/php.png" class="project_icon_img" width="150" ,="" height="150">
                    </div>
                  </li>
                <% end %>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>