<div class="webtoolbar services">
  <div class="shell">
    <div id="nav-toolbar" class="">
      <div class="toolbar_header"><h3>



        <span class="sub">Projects Management</span>
      </h3></div>
      <div class="toolbar-list">
        <ul>
          <li id="toolbar-new">
            <a class="toolbar" onclick="return Common.formSubmit(this,'Projects_Saveall_form','add');" data-url="projects/new">
					<span class="toolbar_icon toolbar_icon-32-add toolbar_icon toolbar_icon-32-add">
					</span>
              Add New
            </a>
          </li><li id="toolbar-new">
          <a class="toolbar" onclick="return Common.formSubmit(this,'Projects_Saveall_form','edit');" data-url="projects/edit">
					<span class="toolbar_icon toolbar_icon-32-edit toolbar_icon toolbar_icon-32-edit">
					</span>
            Edit
          </a>
        </li><li id="toolbar-new">
          <a class="toolbar" onclick="return Common.formSubmit(this,'Projects_Saveall_form','delete');" data-url="">
					<span class="toolbar_icon toolbar_icon-32-delete ">
					</span>
            Delete
          </a>
        </li>	</ul>
      </div>
      <div class="clr"></div>
    </div>
    <div class="clr"></div>

  </div>
</div>