<!DOCTYPE html>
<html>
<head>
  <title>CmcCpm</title>
  <!-- Latest compiled and minified CSS -->
  <!-- Optional theme -->
  <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet" />

  <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css" rel="stylesheet" />

  <link rel="stylesheet" media="all" href="/assets/products.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css?body=1" data-turbolinks-track="true" />
  <link rel="stylesheet" media="all" href="/assets/scaffolds.self-6b3ef23445f7cb1cc035730a8d0cfb1db59768ec8ea8a2ad7ee86eb4128b51df.css?body=1" data-turbolinks-track="true" />
  <link rel="stylesheet" media="all" href="/assets/application.self-e80e8f2318043e8af94dddc2adad5a4f09739a8ebb323b3ab31cd71d45fd9113.css?body=1" data-turbolinks-track="true" />
  <script src="/assets/jquery.self-d03a5518f45df77341bdbe6201ba3bfa547ebba8ed64f0ea56bfa5f96ea7c074.js?body=1" data-turbolinks-track="true"></script>
  <script src="/assets/jquery_ujs.self-ca5248a2fad13d6bd58ea121318d642f195f0b2dd818b30615f785ff365e8d1f.js?body=1" data-turbolinks-track="true"></script>
  <script src="/assets/turbolinks.self-c37727e9bd6b2735da5c311aa83fead54ed0be6cc8bd9a65309e9c5abe2cbfff.js?body=1" data-turbolinks-track="true"></script>
  <script src="/assets/application.self-3b8dabdc891efe46b9a144b400ad69e37d7e5876bdc39dee783419a69d7ca819.js?body=1" data-turbolinks-track="true"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <%= csrf_meta_tags %>

</head>
<body>
<div class="container">
    <%= render 'layouts/modal/header' %>
    <%= render 'layouts/modal/header_panel' %>
    <%= yield %>
    <%= render 'layouts/modal/footer' %>
</div>
</body>
</html>