<%provide(:action, @action)%>

  <% if logged_in? %>
      <nav id="navigation" class="non-printable">
        <div class="shell">
          <ul>
            <li class=""><a href="http://115.146.126.146/cpm/en/dashboard">Home</a></li>
            <li class=""><%= link_to "Projects", '#', class:"ottom-arr"%></li>
            <li class=""><%= link_to "Members", '#' , class:"ottom-arr"%></li>
            <li class=""><a href="http://115.146.126.146/cpm/en/teams"><span class="bottom-arr"></span>Teams</a></li>
          </ul>
        </div>
      </nav>
  <% else %>
      <nav id="navigation" class="non-printable">
        <div class="shell">
          <ul>
            <% if session.has_key?('cpm_project_id') %>
                <li><%= link_to 'Home', root_path %></li>
                <li><%= link_to session[:cpm_project_name], cpm_project_get_cpm_projects_show_path( session[:cpm_project_id] ) %></li>
                <li><%= link_to 'Task', cpm_tasks_path %></li>
            <% end %>
            </ul>
        </div>
      </nav>
  <div class="shell">
    <h2 class="txtupper"><%= yield(:action)%></h2>
  </div>
  <% end %>
  <div class="clear"></div>
</div>