<!DOCTYPE html>
<html>
<head>
  <title>CmcCpm</title>
  <!-- Latest compiled and minified CSS -->
  <!-- Optional theme -->
  <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet" />

  <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css" rel="stylesheet" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
      $(document).ready(function(){
          $('[data-behaviour~=datepicker]').datepicker();
      });
  </script>
</head>
<body>
    <%= render 'layouts/default/header' %>
    <%= render 'layouts/default/header_panel' %>
    <%= yield %>
    <%= render 'layouts/default/footer' %>
</body>
</html>