<%= form_for @products, remote: true, html: { class: "form-horizontal", style: "display:inline;" } do |f| %>
    <div class="modal-body">
      <ul class="errors"></ul>
      <div class="field">
        <%= f.label :cpm_user_id %><br>
        <%= f.number_field :cpm_user_id %>
      </div>
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="input-daterange" data-behaviour="datepicker" id="datepicker">
        <%= f.text_field :start_date, :class=>"form-control", :readonly=>"readonly", :autocomplete=>"off" %>
        <span class="add-on1">to</span>
        <%= f.text_field :end_date, :class=>"form-control", :readonly=>"readonly", :autocomplete=>"off" %>
      </div>
    </div>
    <div class="modal-footer">
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
    </div>
<% end %>