<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.start_date %></td>
    <td><%= product.end_date %></td>
    <td>show</td>
    <td><%= link_to "Edit", edit_cpm_task_path(product), remote: true, class: "btn" %></td>
    <td><%= link_to "Delete", cpm_project_delete_path(product), remote: true, class: "btn btn-danger" %></td>
  </tr>
<% end %>