<%= form_for @cpm_project, remote: true, html: { class: "form-horizontal", style: "display:inline;" } do |f| %>
    <div class="modal-body">
      <ul class="errors"></ul>
      <div class="field">
        <%= f.label :cpm_user_id %><br>
        <%= f.number_field :cpm_user_id %>
      </div>
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :start_date %><br>
        <%= f.datetime_select :start_date %>
      </div>
      <div class="field">
        <%= f.label :end_date %><br>
        <%= f.datetime_select :end_date %>
      </div>
      <div class="field">
        <%= f.label :status %><br>
        <%= f.number_field :status %>
      </div>
    </div>
    <div class="modal-footer">
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
    </div>
<% end %>
<script type="text/javascript">
    $('[data-behaviour~=datepicker]').datepicker();
</script>