<% @cpm_project.each do |item| %>
  <tr>
    <td><%= item.name %></td>
    <td><%= item.start_date %></td>
    <td><%= item.end_date %></td>
    <td><%= link_to "Edit", admin_get_project_edit_path(item), remote: true, class: "btn" %></td>
    <td><%= link_to "Delete", admin_delete_project_destroy_path(item), remote: true, class: "btn btn-danger" %></td>
  </tr>
<% end %>