<% @i = 0 %>
<div class="row">
  <div class="col-md-12">
    <div class="header_view_index">
      <div class="header_view_index_right"><%= link_to 'Add new', admin_get_project_add_path, remote: true, class: "btn btn-primary"  %></div>
    </div>
    <div id="form_search">
      <%= form_for @search, :url =>  admin_get_project_search_path , :method => :post do |form| %>
          <table>
            <tr>
              <td style="padding: 0 10px 0 0">
                <%= form.text_field :name, class: "form-control",autocomplete:"off" %>
                <input type="hidden" name="clear" id="clear" class="clear" disabled>
              </td>
              <td>
                <%= form.submit 'Search', class:"btn btn-danger" %> &nbsp;
                <%= form.submit 'Clear',class:"btn btn-info" , "onclick"=>"addClear()" %>
              </td>
            </tr>
          </table>
      <% end %>
    </div>
    <table class="table table-striped">
      <tr>
        <th>Stt</th>
        <th>Project Name</th>
        <th>Action</th>
      </tr>
      <% @cpm_project.each do |list| %>
          <% @i = @i + 1 %>
          <tr>
            <td><%= @i %></td>
            <td><%= list.name %></td>
            <td>

              <%= link_to  'Show', admin_get_project_show_path( list.id ) ,remote: true, class: "btn" %>
              <%= link_to  'Edit', admin_get_project_edit_path( list.id ) ,remote: true, class: "btn" %>
              <%=  link_to('Delete', admin_delete_project_destroy_path( list.id ), remote: true, class: "btn btn-danger" ) %>
            </td>
          </tr>
      <% end %>
    </table>
  </div>
  <%= will_paginate @cpm_project %>
</div>
<div id="product-modal" class="modal hide fade"></div>