<%= form_for(@cpm_user) do |f| %>
  <% if @cpm_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cpm_user.errors.count, "error") %> prohibited this cpm_user from being saved:</h2>

      <ul>
      <% @cpm_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :permit %><br>
    <%= f.text_field :permit %>
  </div>
  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password_digest %><br>
    <%= f.text_field :password_digest %>
  </div>
  <div class="field">
    <%= f.label :remember_digest %><br>
    <%= f.text_field :remember_digest %>
  </div>
  <div class="field">
    <%= f.label :activation_digest %><br>
    <%= f.text_field :activation_digest %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.number_field :gender %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :facebook_url %><br>
    <%= f.text_field :facebook_url %>
  </div>
  <div class="field">
    <%= f.label :your_story %><br>
    <%= f.text_field :your_story %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :cpm_team_id %><br>
    <%= f.number_field :cpm_team_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
