<div class="modal-header">
  <h3><%= "Editing #{@data.name}" %></h3>
</div>
<%= form_for @data,:url => admin_cpm_project_path(@data), remote: true, html: { class: "form-horizontal", style: "display:inline;" } do |f| %>
    <div class="modal-body">
      <ul class="errors"></ul>
      <div class="field">
        <%= f.label :cpm_user_id %><br>
        <%= f.number_field :cpm_user_id %>
      </div>
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="input-daterange" data-behaviour='datepicker' id="datepicker">
        <%= f.text_field :start_date, class: "form-control", readonly:"readonly", autocomplete:"off"  %>
        <span class="add-on1">to</span>
        <%= f.text_field :end_date, class: "form-control", readonly:"readonly", autocomplete:"off"  %>
      </div>
      <div class="field">
        <%= f.label :status %><br>
        <%= f.number_field :status %>
      </div>
    </div>
    <div class="modal-footer">
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
    </div>
<% end %>
