<% @arrData.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.start_date %></td>
    <td><%= product.end_date %></td>
    <td>show</td>
    <td><%= link_to "Edit", edit_admin_cpm_project_path(product), remote: true, class: "btn" %></td>
    <td><%= link_to "Delete", admin_cpm_project_delete_path(product), remote: true, class: "btn btn-danger" %></td>
  </tr>
<% end %>
<tr>
  <td colspan="4"><%= will_paginate @arrData %></td>
  <td colspan="3"></td>
</tr>