$("ul.errors").html("")
<% if @data.errors.any? %>
      <% @data.errors.full_messages.each do |message| %>
        $("ul.errors").append($("<li />").html("<%= message.html_safe %>"))
      <% end %>
<% else %>
        $(".product-index").html("<%= escape_javascript(render 'index') %>")
        $("#product-modal").modal("hide")
<% end %>