<%= form_for @data, remote: true, html: { class: "form-horizontal", style: "display:inline;" } do |f| %>

    <div class="modal-body">
      <ul class="errors"></ul>
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="input-daterange" data-behaviour="datepicker" id="datepicker">
        <%= f.label :deadline %><br>
        <%= f.text_field :deadline, :class=>"form-control", :readonly=>"readonly", :autocomplete=>"off" %>
      </div>
      <div class="field">
        <%= f.label :cpm_process_id %><br>
        <%= f.text_field :cpm_process_id %>
      </div>
      <div class="field">
        <%= f.label :cpm_priority_id %><br>
        <%= f.text_field :cpm_priority_id %>
      </div>
      <div class="field">
        <%= f.label :man_hour %><br>
        <%= f.text_field :man_hour %>
      </div>
    </div>
    <div class="modal-footer">
      <%= f.submit "Save",class: "btn btn-primary" %>
      <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
    </div>

<% end %>