<% @arrData.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.deadline %></td>
    <td><%= product.man_hour %></td>
    <td><%= product.created_at %></td>
    <td>show</td>
    <td><%= link_to "Edit", edit_cpm_task_path(product), remote: true, class: "btn" %></td>
    <td><%= link_to "Delete", cpm_task_delete_path(product), remote: true, class: "btn btn-danger" %></td>
  </tr>
<% end %>
<tr>
  <td colspan="4"><%= will_paginate @arrData %></td>
  <td colspan="3"></td>
</tr>