<%= form_for @task, url: :cpm_tasks_search,remote: true, html: { class: "form-horizontal", style: "display:inline;" } do |f| %>
    <div class="modal-footer">
      <div class="form-group">
        <%= f.text_field :deadline, :class=>"form-control datepicker", :readonly=>"readonly", :autocomplete=>"off", :placeholder => "Deadline" %>
        <%= f.text_field :id ,:placeholder => "ID"%>
        <%= f.text_field :name ,:placeholder => "Task name"%>
        <%= f.submit "Search",class: "btn btn-primary" %>
        <%= f.submit "Clear",class: "btn" %>
      </div>
    </div>
<% end %>