<div class="modal-header">
  <h3><%= @data.name %></h3>
</div>
<td><%= link_to "Edit", edit_cpm_project_path(@data), remote: true, class: "btn" %></td>
<div id="product-modal" class="modal hide fade"></div>