<div class="container">
  <%= render 'cpm_tasks/search' %>
  <div class="well">
    <%= link_to "Add task", new_cpm_task_path, remote: true, class: "btn button btn-success" %>
    <%= link_to "Export", '#', remote: true, class: "btn button button-green" %>
  </div>
  <div class="new-product">
  </div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Task Name</th>
        <th>Deadline</th>
        <td>Man hours</td>
        <td>Create date</td>
        <td>Show</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
    </thead>
    <tbody class="product-index">
      <%= render "index" %>
    </tbody>

  </table>
</div>
<div id="product-modal" class="modal hide fade"></div>
<script type="text/javascript">
    $(document).ready(function(){
        $('.datepicker').datepicker();
    });
</script>